html {
  background: url('../images/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
  min-height:100%;
  height:100%;
  min-width:100%;
  max-height:100%;
  max-width:100%;
}
body {
  background-color: transparent;
  margin: 0;
  padding: 0;
  position:absolute;
  height:100%;
  min-height:100%;
  min-width:100%;
  max-height:100%;
  max-width:100%;
}
.navbar{
  margin-bottom:0;
  border-radius:0px;
  opacity:0.5;
  text-align:center;
}
.navbar-brand{
  display:inline-block;
  color:white !important;
  font-weight:bold;
  font-size:26px;
}
#container-middle-pane{
  height: calc( 100% - 55px);
  width: 100%;
  padding:0;
}
#left-pane{
  border: 1px solid black;
  height:100%;
}
#right-pane{
  border: 1px solid black;
  height:100%;
}
#middle-pane{
  border: 1px solid black;
  height:100%;
  padding-bottom:72px;
}
.row{
  height:100%;
}
#conversation{
  margin:0 0 24px 0;
  padding:0 12px 0 12px;
  overflow:auto;
  height:90%;
}
.message{
  display:flex;
  max-width:95%;
  display:2px solid white;
  clear:both;
  float:left;
  margin-bottom:12px;
}
.message-contents{
  max-width:100%;
  height:auto;
  font-family:Roboto, Arial;
  border-radius:5px;
  margin:0;
  border-top-left-radius:0;
  padding:12px 12px 0 12px;
  opacity:0.9;
  flex-wrap: wrap;
}
.message-date{
  margin:0;
  float:right;
  padding:0;
  color:#a8a8a8;
  margin-top:12px;
}
.sender-avatar {
  flex-shrink: 0;
  width: 40px !important;
}
.sender-avatar img {
  width: 100%;
  border-top-left-radius:3px;
  display: inline-block;
}
/*Changes to the message style when the message is from the person him/herself*/
.self{
  flex-direction:row-reverse;
  float:right;
  align-items:flex-end;
}
.self .message-contents{
  border-radius:5px;
  border-bottom-right-radius:0 !important;
}
.self .message-date{
  float:left;
}
.self .sender-avatar img{
  border-top-left-radius:0px;
  border-top-right-radius:3px;
}
#send-form{
  margin-top:24px;
  max-width:80%;
	margin:auto;
}
#message-text-input{
resize: none;
height:64px;
}
.btn{
height:64px;
}
