html {
    background: url('../images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
    min-width: 100%;
    max-height: 100%;
    max-width: 100%;
}
body {
    background-color: transparent;
    margin: 0;
    padding: 0;
    position: absolute;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    max-height: 100%;
    max-width: 100%;
}
.red{
    background-color: #e20000;
}
.yellow{
    background-color: #ffe87c;
}
.grey{
    background-color: grey;
}
.green{
    background-color: #00A000;
}
.navbar {
    margin-bottom: 0;
    border-radius: 0px;
}
.navbar-brand {
    display:inline-block;
    font-size:32px;
    font-weight:bold;
}
/* so that the brand fits in one line on smaller displays*/
@media (max-width:380px) {
    .navbar-brand {
        display:inline-block;
        font-size:20px;
        margin-left:0;
        font-weight:bold;
    }
    .navbar-header {
        margin-left: 0;
    }
    .container{
        padding-right:0;
    }
}
#profile-menus{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
}
#profile-info{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    padding:10px;
}
#profile-picture{
    width: 30px;
    height:30px;
    margin:0 10px 0 10px;
}
#profile-picture img{
    width: 100%;
    height:100%;
    border-radius:5px;
}
#names-wrapper {
    margin: 0 10px 0 0;
    padding:0;
}
#names-wrapper h5{
    margin:0;
}
#names-wrapper h6{
    margin:5px 0 0 0;
    color:grey;
}
#notifications-menu>a{
    border-radius:5px;
}

#online-status-menu>a{
    border-radius:5px;
    margin-right:0px;
}
#online-status-menu>a>div{
    margin-right:0px;
}
.online-status{
    width: 10px;
    height: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display:inline-block;
    margin-right:10px;
}
.wrapper{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    width: 100%;
    height:calc(100% - 55px);
}
#left-pane {
    max-width:350px;
    height: 100%;
    padding: 0 24px 0 24px;
   float:left;
    display:flex;
    background-color:rgba(255,255,255,1);
}
#right-pane{
    display:none;
    max-width:350px;
    height: 100%;
    padding: 0 24px 0 24px;
    float:left;
    background-color:rgba(255,255,255,1);
}
.toggle{
    width:40px;
    height: 100%;
    float:left;
    background-color:rgba(255,255,255,1);
    display:flex;
    justify-content:center;
    align-items:center;
}
#right-pane-toggle{
    background-color:transparent;
}
.toggle:hover{
    text-decoration:none;
    background-color:rgba(255,255,255,0.5) !important;
    transition: background-color 0.5s ease;
    cursor:pointer;
}
.left-pane-wrapper{
    height:100%;
    display:flex;
}
.right-pane-wrapper{
    height:100%;
    display:flex;
}
@media (max-width:860px){
    .left-pane-wrapper{
        height:calc(100% - 55px);
        position:absolute;
        z-index:999;
    }
    .right-pane-wrapper{
        height:calc(100% - 55px);
        position:absolute;
        right:0px;
    }
}
#notifications-menu .dropdown-menu{
    left:-120px;
    text-align: center;
}
#middle-pane {
    height: 100%;
    width:100%;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    padding: 0 12px 32px 12px;
}

.chat-rooms-container {
    text-align:center;
    height: calc(100% - 51px);
}
.chat-room-list {
    text-align: left;
    max-height: 70%;
    margin: 12px 0 12px 0;
    padding: 0;
    overflow: auto;
    list-style-type: none;
}
.chat-room-list-item {
    display: block;
    margin: 0;
}
.chat-room-list-item a {
    color: #414141;
    padding: 6px 0 6px 6px;
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.chat-room-list-item a:hover {
    text-shadow: none;
    text-decoration: none;
    background-color: #d9d9d9;
}
.room-name{
    font-weight:bold;
    color:#FFFFFF;
    text-shadow: 1px 1px 3px #000000;
    margin-left:64px;
}
#conversation {
    margin: 0 0 24px 0;
    padding: 0 12px 0 12px;
    overflow: auto;
    height: 80%;
}
.message {
    margin-top: 12px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 95%;
    display: 2px solid white;
    clear: both;
    float: left;
}
.message-contents {
    max-width: 100%;
    height: auto;
    font-family: Roboto, Arial;
    border-radius: 5px;
    margin: 0;
    border-top-left-radius: 0;
    padding: 12px 12px 0 12px;
    opacity: 0.9;
    filter: alpha(opacity=90);
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.message-date {
    margin: 0;
    float: right;
    padding: 0;
    color: #a8a8a8;
    margin-top: 12px;
}
.sender-avatar {
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    width: 40px !important;
}
.sender-avatar img {
    width: 100%;
    border-top-left-radius: 3px;
    display: inline-block;
}
/*Changes to the message style when the message is from the person him/herself*/

.self {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    float: right;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
}
.self .message-contents {
    border-radius: 5px;
    border-bottom-right-radius: 0 !important;
}
.self .message-date {
    float: left;
}
.self .sender-avatar img {
    border-top-left-radius: 0px;
    border-top-right-radius: 3px;
}
#send-form {
    margin-top: 24px;
    max-width: 640px;
    margin: auto;
}
#message-text-input {
    resize: none;
    height: 48px;
}
#send-button{
    height: 48px;
}
#expand-send-button{
    height: 48px;
}

