/*For the background image*/
html {
  background: url('../images/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	height: 100%;
	width: 100%;
	margin:0;
	padding:0;
}
body {
	position:absolute;
  background-color: transparent;
	height: 90%;
	width: 100%;
	margin:0;
	padding:0;
}
.wrapper{
	margin:100px auto;
	max-width:800px;
	text-align:center;
}
.form-signin{
	text-align:left;
	display:inline-block;
	max-height:330px;
}
form .form-control {
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.checkbox {
  color: white;
}
#username-input {
  margin: 0 !important;
  margin-bottom: -16px !important;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#password-input {
  margin-bottom: 16px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.new-account {
	text-decoration:underline;
	color:white;
	display:block;
	text-align:center;
	margin-top:12px;
}
.new-account:hover {
	color:#309cc7;
}
