.search-bar{
	width:100%;
	margin:auto;
	display:block;
	max-width:400px;
	border-radius:10px;
	border:1px solid #C0C0C0;
	padding-left:12px;
	font-size:1em;
}

.search-bar:focus{
    outline: 0;
    box-shadow: 0px 0px 1px 1px #0080FF;
}

.channel-list{
	margin-top:12px;
	overflow:auto;
	list-style-type:none;
	max-height:320px;
	padding-right:24px;
}
.channel-list .wrapper{
display:inline-block;
}
.channel-list-item{
	display:flex;
	align-items:baseline;
	justify-content:space-between;
	width: 100%;
	border:1px solid #cbcbcb;
	padding:12px;
}
.channel-list-item h4{
	display:inline-block;
}
.channel-list-item p{
	clear:both;
	display:inline-block;
}
.add-channel{
	float:right;
	color:#7f7c7d;
}
.add-channel:hover{
	cursor:pointer;
	color:#0da8e9;
}
