.channel-list{
	margin-top:12px;
	overflow:auto;
	list-style-type:none;
	max-height:320px;
	padding-right:24px;
}
.channel-list .wrapper{
    display:inline-block;
}
.channel-list-item{
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:baseline;
	-webkit-align-items:baseline;
	    -ms-flex-align:baseline;
	        align-items:baseline;
	-webkit-box-pack:justify;
	-webkit-justify-content:space-between;
	    -ms-flex-pack:justify;
	        justify-content:space-between;
	width: 100%;
	padding:12px;
    box-shadow:         0px 1px 1px 0px rgba(50, 50, 50, 0.75);
}
.channel-list-item h4{
	display:inline-block;
}
.channel-list-item p{
	clear:both;
	display:inline-block;
}
.add-channel{
	float:right;
	color:#7f7c7d;
}
.add-channel:hover{
	cursor:pointer;
	color:#0da8e9;
}
