<!doctype html>
<html>

<head>
  <title>App | ChatPi</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A cheap and portable chat server">
  <!-- Bootstrap core CSS -->
  <link href="../style/bootstrap.min.css" rel="stylesheet">
  <link href="../style/bootstrap-theme.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../style/app.css">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
  <nav class="navbar navbar-default navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">ChatPi</a>
      </div>
      <p class="navbar-text">Your Messaging Platform</p>
    </div>
    </div>
  </nav>
  <div class="container" id="container-middle-pane">
    <div class="row">
      <div class="col-md-2" id="left-pane">

      </div>
      <div class="col-md-8" id="middle-pane">
        <ul id="messages-list"></ul>
        <form id="input-bar" action="">
          <div class="input-group">

            <input type="text" id="message-text-input" class="form-control" aria-label="Type your Message Here" placeholder="Type your Message Here" required autofocus>
            <div class="input-group-btn">
            <button type="submit" class="btn btn-default">Send</button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <li><a href="#">Send a File</a></li>
              <li><a href="#">Send a Text Snippet</a></li>
            </ul>
          </div>

          </div>
        </form>
      </div>
      <div class="col-md-2" id="right-pane">

      </div>
    </div>
  </div>
  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  <script src="../scripts/jquery.min.js"></script>
  <script src="../scripts/jquery.cookie.js"></script>
  <script>
    //setting cookie required for authorization needed for the chat service
    $.cookie("socketID", "<%= sessionID %>", {
      expires: 7
    });
    var socket = io();
    socket.emit('session', $.cookie("socketID"));

    $('form').submit(function() {
      //Sends the message contents to the specified chatroom
      socket.emit('message', $('#message-text-input').val());
      $('#message-text-input').val('');
      return false;
    });
    //Is called when it receives the 'chat message' event from the server,
    //after which is appends it to the html
    socket.on('message', function(msg) {
      $('#messages-list').append($('<li class="messages">').text(msg));
      $("#messages-list").animate({"scrollTop": $('#messages-list')[0].scrollHeight}, "slow");
    });
  </script>
</body>

</html>
