<!doctype html>
<html ng-app="ChatPiApp">

<head>
  <title>App | ChatPi</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A cheap and portable chat server">

  <!-- Bootstrap core CSS -->
  <!-- <link href="../style/dist/libraries.min.css" rel="stylesheet"> -->
  <!-- <link href="../style/dist/app.style.min.css" rel="stylesheet"> -->

  <link href="../style/bootstrap.min.css" rel="stylesheet">
  <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.js"></script>
  <link href="../style/bootstrap-theme.css" rel="stylesheet">
  <link href="../style/app.css" rel="stylesheet">
  <link href="../style/loader.css" rel="stylesheet">
  <link href="../style/popups.css" rel="stylesheet">
  <script src="http://localhost:35729/livereload.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
</head>

<body>
