<!doctype html>
<html ng-app="ChatPiApp">

<head>
  <title>App | ChatPi</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no,user-scalable=0">
  <meta name="description" content="A cheap and portable chat server">

  <!-- Bootstrap core CSS -->
  <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="../style/app.css" rel="stylesheet">
  <link href="../style/loader.css" rel="stylesheet">
  <link href="../style/modals.css" rel="stylesheet">
  <link href="../bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
  <script src="../bower_components/angular/angular.min.js"></script>
  <script src="../bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src=/socket.io/socket.io.js></script>
  <script src="../bower_components/angular-scroll-glue/src/scrollglue.js"></script>
  <script src="../bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="../scripts/UX.js"></script>
  <script src="../scripts/MessageDate.js"></script>
  <script src="../scripts/ChatRooms.js"></script>
  <script src="../scripts/User.js"></script>
  <script src="../scripts/Validator.js"></script>
  <script src="../scripts/Message.js"></script>
  <script src="../scripts/JoinedChatRooms.js"></script>
  <script src="../scripts/SubscribedChannels.js"></script>
  <script src="../scripts/start.js"></script>
  <% if(livereload) { %>
    <script src="http://localhost:35729/livereload.js"></script>
  <% } %>
</head>

<body>
