<div class="modal fade"  ng-controller="findPublicChannelModal" id="findChannelsModal" tabindex="-1" role="dialog" aria-labelledby="findPublicChannel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Find a Public Channel</h4>
      </div>
      <div class="modal-body" >
      <input class='search-bar' type="text" ng-model='filter' placeholder="   Search for your public channel">
        <div class="spinner">
          <div class="double-bounce1"></div>
          <div class="double-bounce2"></div>
        </div>
        <ul class='channel-list'>
          <li class='channel-list-item' ng-repeat="channel in publicChatRooms track by $index">
            {{channel.name}}
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Subscribe +</button>
      </div>
    </div>
  </div>
</div>
