<nav class="navbar navbar-default">
    <div class="container">

        <div class="navbar-header pull-left">
            <a class="navbar-brand" href="/app">
                ChatPi
            </a>
        </div>

        <ul class="nav pull-right" id="profile-menus" ng-controller="UserSettings">
            <li class="dropdown" id="notifications-menu">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><div class="glyphicon glyphicon-bookmark" ></div></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="">John would like to add you as a contact   <button class="btn btn-default" type="submit">Accept</button> <button class="btn btn-default" type="submit">Decline</button></a></li>
                </ul>
            </li>
            <li class="dropdown" id="online-status-menu">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><div class="online-status green" ></div></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href=""><div class="online-status green"></div>Online</a></li>
                    <li><a href=""><div class="online-status yellow"></div>Away</a></li>
                    <li><a href=""><div class="online-status red"></div>Do Not Disturb</a></li>
                    <li><a href=""><div class="online-status grey"></div>Invisible</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a id="profile-info" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    <div id="profile-picture">
                        <img src="../resources/profiles/{{getProfilePicture()}}" alt=""/>
                    </div>
                    <div id="names-wrapper">
                        <h5>{{getName()}}</h5>
                        <h6>{{getUsername()}}</h6>
                    </div>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Account Settings</a></li>
                    <li class="divider"></li>
                    <li><a href="/logout/">Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>