<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A cheap and portable chat server">
  <!-- <link rel="icon" href="../../favicon.ico"> -->

  <title>Register | ChatPi</title>

  <!-- Bootstrap core CSS -->
  <link href="style/bootstrap.min.css" rel="stylesheet">
  <link href="style/bootstrap-theme.min.css" rel="stylesheet">
  <link href="style/register.css" rel="stylesheet">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <div class="wrapper">
    <h1>
      <span style="color:#dcdcdc">Register</span>
    </h1>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      Wrong Username/Password
    </div>
    <form action="/register" method="post">
      <div class="form-group">
        <label for="username-input">Username</label>
        <input class="form-control" id="username-input" type="text" placeholder="username" required autofocus>
      </div>
      <div class="form-group">
        <label for="password-input">Password</label>
        <input class="form-control" id="password-input" placeholder="password" type="password" required autofocus>
      </div>
      <div class="form-group">
        <label for="name-input">Name</label>
        <input class="form-control" id="name-input" placeholder="Name" type="text" required autofocus>
      </div>
      <div class="form-group">
        <label for="profile-picture">Profile Picture</label>
        <input type="file" id="profile-picture">
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
    </form>
  </div>
  <script src="../scripts/jquery.min.js"></script>
  <script src="../scripts/bootstrap.min.js"></script>
  <script charset="utf-8" src="../scripts/angular.min.js"></script>
</body>

</html>
